/*Font*/
@font-face {
    font-family: 'IRY';
    src: url('../fonts/fa/IRY-ExtraBlack.eot');
    src: url('../fonts/fa/IRY-ExtraBlack.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fa/IRY-ExtraBlack.woff2') format('woff2'),
    url('../fonts/fa/IRY-ExtraBlack.woff') format('woff'),
    url('../fonts/fa/IRY-ExtraBlack.ttf') format('truetype'),
    url('../fonts/fa/IRY-ExtraBlack.svg#IRY-ExtraBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'IRY';
    src: url('../fonts/fa/IRY-ExtraBold.eot');
    src: url('../fonts/fa/IRY-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fa/IRY-ExtraBold.woff2') format('woff2'),
    url('../fonts/fa/IRY-ExtraBold.woff') format('woff'),
    url('../fonts/fa/IRY-ExtraBold.ttf') format('truetype'),
    url('../fonts/fa/IRY-ExtraBold.svg#IRY-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'IRY';
    src: url('../fonts/fa/IRY-Black.eot');
    src: url('../fonts/fa/IRY-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fa/IRY-Black.woff2') format('woff2'),
    url('../fonts/fa/IRY-Black.woff') format('woff'),
    url('../fonts/fa/IRY-Black.ttf') format('truetype'),
    url('../fonts/fa/IRY-Black.svg#IRY-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'IRY';
    src: url('../fonts/fa/IRY-Light.eot');
    src: url('../fonts/fa/IRY-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fa/IRY-Light.woff2') format('woff2'),
    url('../fonts/fa/IRY-Light.woff') format('woff'),
    url('../fonts/fa/IRY-Light.ttf') format('truetype'),
    url('../fonts/fa/IRY-Light.svg#IRY-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IRY';
    src: url('../fonts/fa/IRY-Medium.eot');
    src: url('../fonts/fa/IRY-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fa/IRY-Medium.woff2') format('woff2'),
    url('../fonts/fa/IRY-Medium.woff') format('woff'),
    url('../fonts/fa/IRY-Medium.ttf') format('truetype'),
    url('../fonts/fa/IRY-Medium.svg#IRY-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IRY';
    src: url('../fonts/fa/IRY-Thin.eot');
    src: url('../fonts/fa/IRY-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fa/IRY-Thin.woff2') format('woff2'),
    url('../fonts/fa/IRY-Thin.woff') format('woff'),
    url('../fonts/fa/IRY-Thin.ttf') format('truetype'),
    url('../fonts/fa/IRY-Thin.svg#IRY-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IRY';
    src: url('../fonts/fa/IRY-Bold.eot');
    src: url('../fonts/fa/IRY-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fa/IRY-Bold.woff2') format('woff2'),
    url('../fonts/fa/IRY-Bold.woff') format('woff'),
    url('../fonts/fa/IRY-Bold.ttf') format('truetype'),
    url('../fonts/fa/IRY-Bold.svg#IRY-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IRY';
    src: url('../fonts/fa/IRY.eot');
    src: url('../fonts/fa/IRY.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fa/IRY.woff2') format('woff2'),
    url('../fonts/fa/IRY.woff') format('woff'),
    url('../fonts/fa/IRY.ttf') format('truetype'),
    url('../fonts/fa/IRY.svg#IRY') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*Font*/
*{
    letter-spacing: 0!important;
}
body {
    font-family: 'IRY';
}

.navbar .navbar-nav .nav-item .dropdown-menu a.dropdown-item .link-ico span {
    margin-left: 0;
    margin-right: 10px;
}

.inner-header .box-content .page-title p {
    font-weight: 500;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-left: .5rem;
    padding-right: 0;
}

.post-item .post-txt ul li {
    margin-right: 0;
    margin-left: 17px;
}

.post-item .post-txt ul li:after {
    left: -11px;
    right: auto;
}

.post-item .post-txt p {
    font-size: 14px;
}

.leave-comment h5 i, .single-pp .post-comments h5 i, .single-pp .pagi-post a p i {
    margin-right: 0;
    margin-left: 10px;
}

.single-pp .pagi-post a.next-post i {
    margin-left: 0;
    margin-right: 10px;
}

.comment-box .comment-head .member-info .member-name {
    margin-left: 0;
    margin-right: 15px;
}

.comment-box .comment-head .comment-reply a i {
    margin-left: 5px;
    margin-right: 0;
}

.floating-label-field--s3+.floating-label {
    left: auto;
    right: .75em;
}

.form-buttons {
    text-align: left;
}

.bttn i {
    margin-left: 0;
    margin-right: 5px;
}

.sitemap ul li a {
    font-weight: 500;
}

.footer-copyright .copyright-txt span a:after, .footer-copyright .fast-links ul li a:after, .sitemap ul li a:after {
    left: 0;
    right: auto;
}

.footer-copyright .copyright-txt span a:hover:after, .footer-copyright .fast-links ul li a:hover:after, .sitemap ul li a:hover:after {
    right: 0;
    left: auto;
}

.faq-control ul li a i, .accordion-box h4 i, .job-post .job-location i, .txt-signup ul li i, .sidebox h5 i, .navbar-nav.nav-buttons .nav-lang, .contact-details ul li i {
    margin-right: 0;
    margin-left: 10px;
}

.newsletter .input-box button {
    right: auto;
    left: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.contact-details ul li {
    font-family: 'IRY', sans-serif;
}

.comment-inner ul {
    padding-left: 0;
    padding-right: 60px;
}

.newsletter .input-box input {
    padding-right: 1em;
    padding-left: 53px;
}

.social-share a .name-icon i {
    margin-right: 0;
    margin-left: 7px;
}

.random-post .post-txt a i {
    padding-left: 0;
    padding-right: 15px;
}

.random-post .post-txt a .btn_icon_1 {
    right: auto;
    left: -35px;
}

.random-post .post-txt a .btn_icon_2 {
    right: auto;
    left: -35px;
}

.random-post .post-txt a:hover .btn_icon_1 {
    right: auto;
    left: -70px;
}

.random-post .post-txt a:hover .btn_icon_2 {
    right: auto;
    left: -50px;
}

.checkbox-group input[type="checkbox"]+label {
    padding-left: 0;
    padding-right: 30px;
}

.checkbox-group input[type="checkbox"]+label:before {
    left: auto;
    right: 0;
}

.custom-select {
    background-position: 12px;
}

.contact-us-page .form-side .main-title {
    text-align: right;
}

.contact-us-page .form-side .main-title h3 {
    font-weight: 600;
}

.accordion-box h4 span {
    padding-right: 0;
    padding-left: 20px;
}

.accordion-faq .card .card-header .btn-link {
    text-align: right;
    padding-left: 70px;
    padding-right: 20px;
}

.accordion-faq .card .card-header .btn-link:before, .accordion-faq .card .card-header .btn-link.collapsed:before {
    right: auto;
    left: 30px;
}

.accordion-faq .card .card-body {
    border-right: 4px solid #168627;
    border-left: 0;
}

.faq-control ul li.active:after {
    left: auto;
    right: 0;
}

.side-service.right .service-item .plus-icon {
    left: auto;
    right: -40%;
}

.side-service.left .service-item .plus-icon {
    right: auto;
    left: -40%;
}

.side-service.left {
    text-align: left;
}
.mfp-counter {
    right: initial;
    left: 0;
}
.download-bttn{
    margin-bottom: 25px;
}
.download:after {
    bottom: -20%;
}
.start-working .video-txt ul li i {
    margin-left: 20px;
    margin-right: 0;
}

.testimonials .item .txt-item .person-details .txt-person {
    margin-right: 20px;
    margin-left: 0;
}

.price-item h4:after {
    left: auto;
    right: 0;
}

.price-item .price-details ul li i {
    margin-right: 0;
    margin-left: 14px;
}

.member-team .member-button-group a.facebook-view, .member-team .member-button-group a.twitter-view {
    -webkit-transform: perspective(600px) rotateY(-90deg);
    transform: perspective(600px) rotateY(-90deg);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
}

.member-team .member-button-group a.twitter-view {
    -webkit-transform: perspective(600px) rotateY(90deg);
    transform: perspective(600px) rotateY(90deg);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.box-application .form-bttns {
    text-align: left;
}

.portfolio .list-control ul li:hover:after {
    left: auto;
    right: 0;
}

.portfolio .list-control ul li:after {
    right: auto;
    left: 0;
}

.section-title h3 {
    line-height: 1.5;
}

#scroll-top {
    right: auto;
    left: 20px;
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav .nav-item .dropdown-menu a.dropdown-item {
        padding-left: 20px;
        padding-right: 0;
    }
}

.download .txt-phone .download-bttn a i {
    margin-right: 0;
    margin-left: 12px;
}

.download .txt-phone .download-bttn a {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}

.download .txt-phone .download-bttn a .txt-btn span {
    text-align: right;
}

.download .txt-phone .download-bttn a.play-store {
    margin-right: 0;
    margin-left: 20px;
}

.testimonials .item .txt-item .person-details .txt-person {
    text-align: right;
}
.rate-star{
    direction: ltr;
}
.dropdown-toggle::after{
    vertical-align: -2px;
}
@media only screen and (max-width: 991px) {
    .service-txt {
        text-align: right;
    }
}